<footer class="uoc-footer">
    <div class="footer__contenido">
        <div>
            <ul>
                <li>Contacto</li>
                <ul>
                    <li><a href="#">Dirección</a></li>
                    <li><a href="#">Teléfono</a></li>
                    <li><a href="#">Email</a></li>
                </ul>
            </ul>
        </div>
        <div>
            <ul>
                <li>Acuerdo Legal</li>
                <ul>
                    <li><a href="#">Política de Privacidad</a></li>
                    <li><a href="#">Política de Cookies</a></li>
                </ul>
            </ul>
        </div>
        <div>
            <ul>
                <li>Afiliaciones</li>
                <ul>
                    <li><a href="#">Placeholder</a></li>
                </ul>
            </ul>
        </div>
        <div>
            <ul>
                <li><a href="#">Donaciones</a></li>
            </ul>
        </div>
    </div>

    <div class="footer__authors">
        <p>&copy; Jorge Coronil Villalba | Jonathan León Canto</p>
    </div>
</footer>
