.zonaBotones {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid beige;
  a {
    font-size: 3em;
    font-family: Nature-Green;
    padding: 5px;
    color: $color-verdeCamuflaje;
    border-bottom: 5px dotted $color-verdeNeutro;
    margin-bottom: 10px;
  }
  a:hover {
    box-sizing: border-box;
    transform: scale(1.1);
    transition: 0.2s linear;
  }
}

.body__main--texto {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  background-color: $uoc-bg;
  color: $uoc-corporate;
  background-image: url("../images/family2blur.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.body__texto-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.body__texto--izquierda,
.body__texto--derecha {
  font-size: 6em;
  color: white;
  font-family: "GochiHand-Regular";
  text-shadow: 2px 2px 4px black;
}

.body__texto--izquierda {
  text-align: left;
  max-width: 30%;
}

.body__texto--derecha {
  text-align: right;
  max-width: 35%;
  text-shadow: 2px 2px 4px black;

  a {
    padding: 5px;
    color: white;
    border-radius: 50px;
    background-color: $color-verdeLima;
  }
}
