footer {
  bottom: 0;
  width: 100%;

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #6f8e74;
  }

  a {
    color: #ffffff;
  }
  ul {
    list-style: none;
  }
}
