/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */

/**
 * Import variables
 */

@import "variables";

/**
 * Import npm dependencies
 * see: https://v2.parceljs.org/features/module-resolution/
 * see commented examples below
 */

// @import "some-node-module";
// @import "@some-company/some-node-module";

/**
 * Import layouts
 * It's a best practice to use a different partial for each page
 */

@import "header";

@import "home";

@import "nosotros";

@import "contacto";

@import "footer";

@import url(https://github.com/jleocan773/diw_sitio_Rogelio/blob/main/src/assets/fonts/GochiHand-Regular.ttf);

@font-face {
  font-family: "GochiHand-Regular";
  src: url("../fonts/GochiHand-Regular.ttf") format("truetype");
}

@import url(https://github.com/jleocan773/diw_sitio_Rogelio/blob/main/src/assets/fonts/Nature-Green.ttf);

@font-face {
  font-family: "Nature-Green";
  src: url("../fonts/Nature-Green.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: cornflowerblue;
}

body {
  margin: 0;
  grid-template-columns: repeat(12, 1fr);
}
